.container {
 color: blue;
}
.jumbotron {
  text-align: center;
}
 {
  background-color: #82adf2
}
h2 {
  text-align: center;
  font-size: 40px
}
.sidebar {
  width: 80%;
  background-color: #ced4dd;
}
.back{
  background-color:
}
.container3{
  float: center;
}
body{
  background-image: url(https://prd-wret.s3-us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/full_width/public/thumbnails/image/Mount%20Rainier%20from%20South%20Hill%20USGS%20photo%20by%20Ed%20Ruttledge%20Jan%2018%202014%20%20IMG_1228-ps8.jpg?itok=ALMywfRU);
}
.container2{
  background-image: url(https://prd-wret.s3-us-west-2.amazonaws.com/assets/palladium/production/s3fs-public/styles/full_width/public/thumbnails/image/Mount%20Rainier%20from%20South%20Hill%20USGS%20photo%20by%20Ed%20Ruttledge%20Jan%2018%202014%20%20IMG_1228-ps8.jpg?itok=ALMywfRU);
}.container2{
  color: white;
}
.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 80px;
}

.header{
  background-color: green

}
footer {
   background-color: #555;
   color: white;
   padding: 15px;
 }
